<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa error totam sint accusamus mollitia? Optio ad nesciunt tenetur. Aperiam, sint.</p>
    </div>
</section>