<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus sequi, excepturi suscipit vel rem optio!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, animi assumenda voluptatem quibusdam odit unde iste sequi accusantium sunt velit.</p>
    <a href="http://leccionesdepiano.net" class="btn btn-primary">Lecciones</a>
</div>  