<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Account Register
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Ingresa tu nombre" value="{{name}}">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Ingresa tu e-mail" value="{{email}}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Ingresa tu contraseña">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password" placeholder="Confirma tu contraseña">
                    </div>
                    <button class="btn btn-primary btn-block">
                        Signup
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>